<h1><%= @item.name %></h1>

<%= link_to 'Back to list', root_path %>

<%
  fields = [
    :date_added,
    :date_updated,
    :description,
    :url,
    :documentation,
    :license,
    :maintainer,
    :area_served,
    :start_date,
    :end_date,
    :provider
  ]
%>
<h2>Api Catalogue data</h2>
<pre>
<%= JSON.pretty_generate(@item.attributes.symbolize_keys.slice(*fields)) %>
</pre>

<h2>Data Market Place Metadata</h2>
<pre>
<%= JSON.pretty_generate(@item.metadata) %>
</pre>
<h3>Missing required fields</h3>
<ul>
  <% (MetadataMapper.required_fields - @metadata_mapper.required_fields_present).each do |missing_field| %>
    <li><%= missing_field %></li>
  <% end %>
</ul>
