<h1><%= @item.name %></h1>

<%= link_to 'Back to list', root_path %>

<%
  fields = [
    :name,
    :date_added,
    :date_updated,
    :description,
    :url,
    :documentation,
    :license,
    :maintainer,
    :area_served,
    :start_date,
    :end_date,
    :provider
  ]
%>
<h2>Api Catalogue data</h2>
<pre>
<%= JSON.pretty_generate(@item.attributes.symbolize_keys.slice(*fields)) %>
</pre>

<h2>Data Market Place Metadata</h2>
<pre>
<%= JSON.pretty_generate(@item.metadata) %>
</pre>
<h3>Missing required fields</h3>
<ul>
  <% @metadata_mapper.required_fields_missing.each do |missing_field| %>
    <li><%= missing_field %></li>
  <% end %>
</ul>

<h3>Metadata with missing fields padded with dummy data</h3>
<pre>
<%= JSON.pretty_generate(@metadata_mapper.padded_metadata) %>
</pre>

<h2>HTTP endpoint</h2>
<% if @item.url.present? %>
  <h3>Status <%= @item.api_response.status %></h3>
  <%= link_to 'Link to API', @item.url %>
<% else %>
  <p>No API URL present</p>
<% end %>
